@import "../../constants/styles/vars";

.header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $header_height;
  background-color: $main-theme-color;

  &__logo{
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;

    img{
      height: inherit;
      width: auto;
      margin: 0 auto;
    }
  }

  &__title{
    display: flex;
    align-items: center;
    color: white;
  }
}