$main-theme-color: #80A1FD;
$red: #F05659;
$light-red: #E56A6D;
$seashell: #FFF4EE;
$whiteBlue: #C8D6FD;

$dark_navy: #1B2436;
$navy: #20325B;

$green: #4CD863;

$light-black: #3F4244;
$black: #000000;

$grey: #848A91;
$grey-2: rgba(0, 0, 0, 0.54);
$light-grey: rgba(132, 138, 145, 0.77);
$lightest-grey: #ECEEF3;
$dark-grey: #6B7076;
$pale-grey: #e0e2e8;
$pale-grey-two: #eff0f5;

$iron: #B4BAC2;
$light-iron: #CACED1;
$lightest-iron: #E0E3E8;

$whisper-white: #F5F6FA;
$white: #ffffff;

$header_height: 73px;