@import "./constants/styles/vars";

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: $grey;
  background-color: $lightest-iron;
  margin: 0;
  padding: 0;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}